
<div class="container-logo">
    <img src="/images/logo-resumida.png" alt="">
    <p class="texto-logo-resumida">FinTrack finance</p>
</div>

<div class="card-titulos">
    <h1 class="titulo-pagina">Crie sua conta</h1>
    <p class="subtitulo-pagina">
        Se já possui uma conta, você consegue
        fazer 
        <span><a class="links" href="">Login aqui</a></span>
    </p>


</div>
<form class="card-formulario" [formGroup]="form" (OnSubmit)="OnSubmit()">
    <app-input-texto
        [label]="'Email'"
        [id]="'email'"
        [tipo]="'email'"
        [nome]="'email'"
        [placeholder]="'Email'"
        formControlName="email"
        [eInvalido]="form.controls['email'].invalid"
    >
    </app-input-texto>

    <app-input-texto
        [label]="'Senha'"
        [id]="'password'"
        [tipo]="'password'"
        [nome]="'password'"
        [placeholder]="'Senha'"
        formControlName="password"
        [eInvalido]="form.controls['password'].invalid"
    >
    </app-input-texto>

    <button 
        class="botao-confirmar" 
        [ngClass]="{ 'desabilitado': form.invalid || !podeEnviar }"
        type="submit" 
        [disabled]="form.invalid || !podeEnviar" 
        (click)="enviarDados()"
        >Entrar</button>
</form>